#board {
    width: 300px;
    margin-bottom: 20px;
}

.cell {
  background-color: transparent;
  padding: 0px 3px 6px 3px;
  margin: 2px;
  color: white;
  font-size: 22px;
  font-weight: bold;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #3a3a3c;
}

.cell:before {
    content: "";
    display: block;
    padding-top: 100%;
}


/* This container is needed to position the front and back side */
.cell-inner {
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* #b59f3b Do an horizontal flip when you move the mouse over the flip box container */
.cell:hover .cell-inner {
  transform: rotateX(180deg);
}

/* Position the front and back side */
.cell-front, .cell-back {
  position: absolute;
  color: white;
  font-size: 20px;
  width: 100%;
  height: 100%;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.cell-front {
  border: 3px solid #3a3a3c;
}

/* Style the back side */
.cell-back {
  background-color: #538d4e;
  transform: rotateX(180deg);
}

.correct {
  background-color: #538d4e;
  border: none;
}

.present {
  background-color: #b59f3b;
  border: none;
}

.absent {
  background-color: #3a3a3c;
  border: none;
}
